/* alterações universais */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2{
    font-weight: 500;
}


 /* começo das alterações antes da div de resultados */


/* #logo {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 105px;
    height: 105px;
    margin-right: 750px;
}

#header .navBar{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    text-decoration: none;
    color: rgb(15, 158, 158);
}

#header .navBar a:link{
    color:rgb(15, 158, 158);
    text-decoration: none;
}

#header .navBar a:visited{
    color:rgb(15, 158, 158);
    text-decoration: none;
}

#header{
    
    height: 25%;
    border-bottom: aqua solid 2.5px;
   
} */

button {
    margin-top: 40px;
    margin-bottom: -27px;
    border-radius: 25px;
    padding: 8px;
    color: rgb(3, 160, 172);
    border-color: rgb(0,190,202);
    background-color: rgb(255, 255, 255);
    font-size: 17px;
    margin-left: 25%;
}

#containerSimulador {
     
    border-radius: 25px;
    display: flex;
    align-self: center;
    
}


.pagina{
    
    text-align: center;
}


.inputs{
    margin-left: auto;
    margin-right: auto;
    border-radius: 12px;
    border: rgb(0,190,202) solid 5px;
    background-color: whitesmoke;
    text-decoration: none;
    padding: 55px;
    width: 350px;
}


.inputs input {

    margin-left: 20%;
    border-radius: 15px;
    text-decoration: none;
    padding: 5px;
    justify-content: center;
    border-style: double;

}



/* #header .navBar {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
} */



.inputs span{
    margin-left: 15%;
    text-align: center;
}

.pagina{
    color:rgb(3, 167, 179);
}
.nomeEmpresa{
    justify-content: center;
    margin-left: 35%;
} 
/* fim antes do input */


/* div que exibe o resultado */

#div_result {
    margin-top: 110px;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    text-align: justify;
    text-justify: auto;
    border-radius: 15px;
    padding: 10px;
    width: 550px;
    background-color: rgb(251, 246, 216);
}
